*{box-sizing: border-box;}

ul.gnav-navi-1{
background: #c71585;
padding: 0;
text-align: center;
}
ul.gnav-navi-1 li{
display: inline-block;
}

body{
    letter-spacing: 0.1em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
/* ヘッダー */
header{
    width: 100%;
    padding: 10px 0;
}
.header_wrapper{
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_wrapper h1{
    width: auto;
    display: flex;
    align-items: center;
}
.header_wrapper h1 a{
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 34px;
}
.header_wrapper h1 span{
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 10px;
}
/* ナビゲーション */
.gnav{
    width: 100%;
    background-color: #333;
}
.gnav_wrapper{
    max-width: 980px;
    margin: auto;
    display: flex;
}
.gnav_wrapper li{
    border-left: #888 1px solid;
    text-align: center;
    width: calc(100%/7);
    transition: all  0.3s ease;
}
.gnav_wrapper li:last-child{
    border-right: #888 1px solid;
}
.gnav_wrapper li:hover{
    background-color: #888;
}
.gnav_wrapper li a{
    display: block;
    padding: 1.3em 0;
    color: #fff;
    text-decoration: none;
}
ul.gnav-navi-1 li a{
display: block;
padding: 1em;
color: #fff;
text-decoration: none;
}
ul.gnav-navi-1 a::first-line{
font-size: 16px;
font-weight: bold;
}
@media (prefers-color-scheme: dark) {
　//html全体の色を反転させる
  html{
      filter: invert(1) hue-rotate(180deg);
  }
　//画像は再反転させて戻す
  html img{
      filter: invert(1) hue-rotate(180deg);
  }
}
header {
  background-image: url(FF15borm.github.io/6463136F-66C2-4D68-B3B9-894609E74994.png);
  background-repeat: no-repeat;
  width: 700px;
  height: 500px;
}
/* 背景画像の繰り返し表示をしない */
header {
  background-image: url(FF15borm.github.io/6463136F-66C2-4D68-B3B9-894609E74994.png) ;
  background-repeat: no-repeat;
  width: 700px;
}
/* 背景画像の繰り返し表示をしない */
body{
  background:gray;/*保険用*/
  background: -moz-linear-gradient(top,lightblue 0%,gray 100%);/*古いFireFox向け*/
  background: -webkit-linear-gradient(top,lightblue 0%,gray 100%);/*古いSafariなど向け*/
  filter:progid:DXImageTransform.Microsoft.Gradient(
    startColorstr='lightblue',
    endColorstr='gray',
    GradientType=0 );/*IE9以下向け*/
  background: linear-gradient(to bottom,lightblue 0%,gray 100%);/*正規の指定*/
} 

h1 {
    color:#bce2e8;
 }
   header {
  width: 1000px;
  height: 500px;
  background-image: url(FF15borm.github.io/6463136F-66C2-4D68-B3B9-894609E74994.png) ;
} 
    
.box {
  border-left: 5px double skyblue;
  border-right: 5px double skyblue;
  background-color: #eee;
  padding: 2em;
}
a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #aaa;
  color: #FFF;
  border-bottom: solid 4px rgb(134, 132, 132);
  border-radius: 3px;
}

a:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
h2 {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: #ffaf58;
  font-size: 20px;
  color: white;
  margin-left: -33px;
  line-height: 1.3;
  z-index:-1;
  }

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}
/*ハンバーガーメニュー下準備*/
#menubtn img{
    width:100%;
    max-width: 50px;
}
.w1000{
    max-width:1000px;
    margin: 0 auto;
}
nav{
    background-color:#ccc;
    padding:20px 3%;
}
.nav-hidden{
    display:none;
}
nav{
    background-color:#ccc;
    padding:20px 3%;
    display: none;/*追加*/
}
/*ハンバーガーメニュー*/
#menubtn img{
    width:100%;
    max-width: 50px;
}
.w1000{
    max-width:1000px;
    margin: 0 auto;
}
nav{
    background-color:#ccc;
    padding:20px 3%;
    display: none;
}
#nav-input:checked ~ nav {/*チェック入ってるとき ~ メニューが*/
    display: block;/*追加*/
    animation: 1s fadeIn;/*追加*/
}
@keyframes fadeIn {
    from { opacity: 0; }/*追加*/
    to { opacity: 1; }/*追加*/
  }
.nav-hidden{
    display:none;
}
